Database        Name of package     Version
--------------------------------------------
--------------------------------------------
cassandradb:    cassandra-driver    = 3.25.0
--------------------------------------------
mariadb:        mariadb             = 1.1.5.post3
--------------------------------------------
mongob:         pymongo             = 4.3.3
--------------------------------------------
mysql:          pymysql             = 1.0.2
--------------------------------------------
postgresql:     psycopg2            = 2.9.5
--------------------------------------------
redis:          redis               = 4.5.4